<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<th:block layout:fragment="script">

    <script th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            }
        });
    </script>

</th:block>
<th:block th:replace="~{/layout/baseLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div class="container-fluid align-items-center">
            <h1 class="h3 mb-4 text-gray-800">어드민 유저 수정</h1>
            <div class="card shadow mb-4 col-6">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">어드민 유저 정보</h6>
                </div>
                <div class="card-body">
                    <form th:action="@{/adminUser/modifyAdminUser}" role="form" method="post">
                        <div class="form-group">
                            <input id="userName" type="text" class="form-control" placeholder="유저 이름"/>
                        </div>
                        <div class="form-group">
                            <input id="password" type="password" class="form-control" placeholder="유저 비밀번호"/>
                        </div>
                        <div class="form-group">
                            <input id="email" type="text" class="form-control" placeholder="유저 이메일"/>
                        </div>
                        <div class="form-group">
                            <select class="custom-select">
                                <option value="OPER">운영자</option>
                                <option value="ADMIN">관리자</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn-primary">
                                수정
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </th:block>
</th:block>
</html>