<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<th:block layout:fragment="script">

    <script th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            }
        });
    </script>

</th:block>
<th:block th:replace="~{/layout/baseLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div class="container-fluid align-items-center">
            <h1 class="h3 mb-4 text-gray-800">어드민 유저 등록</h1>
            <div class="card shadow mb-4 col-6">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">어드민 유저 정보</h6>
                </div>
                <div class="card-body">
                    <form th:action="@{/adminUser/registAdminUser}" role="form" method="post"  th:object="${AdminUserFormDTO}">
                        <div class="form-group">
                            <input th:field="*{userName}" type="text" class="form-control mb-1" placeholder="유저 이름"/>
                            <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Incorrect Data</p>
                        </div>
                        <div class="form-group">
                            <input th:field="*{password}" type="password" class="form-control mb-1" placeholder="유저 비밀번호"/>
                            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect Data</p>
                        </div>
                        <div class="form-group">
                            <input th:field="*{email}" type="text" class="form-control mb-1" placeholder="유저 이메일"/>
                            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect Data</p>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn-primary">
                                등록
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </th:block>
</th:block>
</html>