<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<ul th:fragment="sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-1">Twitter Clone Project Admin</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" th:href="@{/board/list}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>어드민 유저 관리</span></a>
        <a class="nav-link" th:href="@{/board/list}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>유저 관리 페이지</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

</ul>